.body
  .header
    %h1= @user.screen_name
  .container-fluid
    .row
      .col-sm-3
        %p
          Users info here! this is where the users info goes!
      .col-sm-3
        %p
          this is where the article feed goes!
