.body
  .header
    %h2= @user.screen_name
  .container-fluid
    .row
      .col-sm-3
        %p
          Make a new post, 
          = link_to 'here!', new_article_path 
        -if @user.comments.any?
          %h4 COMMENTS:
          - @user.comments.each do | comment |
            = render partial: "shared/comment", locals: {comment: comment }
      .col-sm-7
        = render partial: 'user_article_feed'
