.body
  .header
    %h2= @user.screen_name
  .container-fluid
    .row
      .col-sm-3
        %p
          Users info here! this is where the users info goes!
      .col-sm-7
        = render partial: 'shared/article_feed'
